/* HOJOON LEE css for auction.html*/
.sec_top div{
    width:400px;
    height:50px;
    float:left;
    margin:5px 50px 10px 0;
    border:solid 1px;
}
.circle_main{
    clear:both;
    width:1000px;
    height:700px;
    border:solid 1px;
}
#main_photo{
    width: 300px;
    height:300px;
    margin-left:20px;
    border:solid 1px;
}
.photo_button{
    width:100px;
    height:30px;
    float:left;
    margin:10px 0 0 50px;
    border:solid 1px;
}
#main_info{
    width: 500px;
    /* height:370px; */
    padding-bottom: 60px;
    margin-right:20px;
    padding-left:10px;
    float:right;
    border:solid 1px;
}
#main_info ul{
    width: 450px;
}
#main_info div{
    padding-left:15px;
    width:600px;
}
textarea{
    width:450px;
    height:100px; 
    resize:none;
}
#related_post{
    clear:both;
    margin:80px 0 0 20px;
    width:960px;
    height:230px;
    border:solid 1px;
}
.setbutton{
float:right;
margin:10px 20px 0 0;
width:100px;
height:30px;
border:solid 1px;
}
h4{
    margin-bottom:10px;
}
