/* NAYE KIM css for circle.html*/
.sec_top div{
	width:400px;
	height:50px;
	float:left;
	margin:5px 50px 10px 0;
}
.circle_main{
	clear:both;
	width:1000px;
	height:750px;
	background-color:#EAEAEA;
}
#main_photo{
	width: 300px;
	height:300px;
	margin-left:20px;
	background-color:white;
}
.photo_button{
	width:100px;
	height:30px;
	float:left;
	margin:10px 0 0 50px;
	border:solid 1px;
}
#main_info{
	width: 630px;
	height:430px;
	margin:0 20px 10px 0;
	padding-left:10px;
	float:right;
	background-color:white;
}
#main_info ul{
	list-style:none;
	padding-left:0;
}
#main_info li{
	line-height:22px;
}
#main_info div{
	padding-left:15px;
	width:600px;
}
#main_info label{
	margin-right:15px;
}
textarea{
	width:550px;
	height:100px; 
	resize:none;
}
#related_post{
	clear:both;
	margin-left:20px;
	width:960px;
	height:230px;
	background-color:white;
}
.setbutton{
	float:right;
	margin:10px 20px 0 0;
	width:100px;
	height:30px;
	border:solid 1px;
}
h4{
	margin-bottom:10px;
}
#main_photo img{
	width:270px;
	height:270px;
	margin-left:16px;
}
.postList{
	width:200px;
	height:200px;
	background-color:#A6A6A6;
	float:left;
	margin:0 20px 0 20px;
}
