/* 전체 적용 */
* {
    margin: 0;  
    padding: 0;
}
a:link { color: #f2f2f2; text-decoration: none;}
a:visited { color: #f2f2f2; text-decoration: none;}
a:hover { color: #f2f2f2; text-decoration: none;}
a:active { color: #f2f2f2; text-decoration: none;}

/* header, main, footer 적용 */
.wrap{
    width: 1000px;
    margin-left: 210px;
}

/* headaer css */
header{
    position: fixed;
    width: 210px;
    height: 100%;
    background-color: #3747A6;
    color: #f2f2f2;
    font-size: 12pt;
    font-weight: bold;
}
#header_logo{
    width: 160px;
    margin: 25px;
    background-color: #f25050;
    text-align: center;
    font-size: 30pt;
    line-height: 60px;
}
#header_login_menus ul{
    text-align: center;    
    padding: 15px 0;
}
#header_login_menus li{
    display: inline-block;
    line-height: 40px;
    width: 90px;
}
#header_menus{
    margin-top: 110px;
}
#header_menus li{
    text-align: left;
    display: block;
    list-style-type: none;
    padding: 15px;
}

/* main css */
main{
    float: left;
    width: 1000px;
    /* height: 800px; 수정필요 */
    margin: 30px;
    /* border: solid 1px; */
}

/* footer css */
footer{
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    width: 1000px;
    height: 120px;
    /* border: solid 1px; */
}
footer hr{
    margin: 10px auto;
    background-color: #f25050;
    border-color: #f25050;
}
#footer_logo{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    background-color: #f25050;
    border: solid 1px;
}
#footer_info{
    float: left;
    width: 700px;
    font-size: 9pt;
    /* border: solid 1px; */
}
#footer_info li{
    display: inline;
}
#footer_right{
    float: right;
    width: 80px;
    height: 80px;
    border: solid 1px;
}