/* tag{속성: 속성값;} */
h1{
    color:mediumslateblue;
}
div{
    color:darkslategrey;
}
.abc{
    color:saddlebrown;
    font-size: 11pt;
}    /*태그가 아닌 정의 태그는 앞에 .을 찍어야함. 이건 중복가능 어디서나 사용가능*/
#xy{    /* #태그는 id 값을 찾아 적용하며, 1개만 적용함*/
    color: seagreen;
}