*{
    margin: 0px;
    padding: 0px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
div {
    display: block;
}

.container {
    /* width: 1030px; */
    width: 1010px;
    /* padding-right: 15px;
    padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
.container_article {
    width: 800px;
    float: left;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.clear-float {
    clear: both;
}


#page_title {
    padding: 10px 20px 10px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article {
    border: solid 1px;
    margin-top: 10px;
}
.content {
    padding: 20px;
}



.nav li {
    list-style: none;
    float: left;
    border: solid 1px;
    
}
.nav li:first-child {
    border-radius: 10px 0 0 10px;
}
.nav li:last-child {
    border-radius: 0 10px 10px 0;
}

#top_nav ul{
    overflow: hidden;
}
#top_nav li{
    font-size: 10pt;
    padding-left: 10px;
    padding-right: 10px;
}

#main_nav li {
    padding: 10px 30px 10px 30px;
}

footer {
    border: solid 1px;
    margin-top: 10px;
}
footer > div {
    text-align: center;
    padding: 10px;
}


#aside_nav {
    float: right;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 11pt;
}
#aside_nav table{
    width: 100%;
    border-collapse: collapse;
}
#aside_nav table, #aside_nav td {
    border: 1px solid black;
}
.first_row {
    text-align: center;
}
.first_row > td {
    width: 50%;
    padding: 5px 0 5px 0;
}
.aside_content > img {
    width: 40px;
    padding: 8px;
}
.aside_link {
    padding: 8px;
}

.theme-black {
    background-color: black;
    color: white !important;
    border: solid 1px;
}
.theme-white {
    background-color: white;
    color: black !important;
    border: solid 1px;
}