*{
    margin: 0;
    padding: 0;
}
#signup_form > div, header div{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 15px;
}
#personal_info > label{
    width: 100px;
}
#submit_button{
    width: 100px;
    height: 30px;
}