*{
    margin: 0;
    padding: 0;
}
.wrap{
    width: 940px;
    margin: 0 auto;
}
.reset_float{
    clear: both;
}

/* header css */
header{
    height: 149px;
}


header li{
    display: inline-block;
}
#header_left_nav{
    float: left;
    font-size: 9pt;
    font-weight: bold;
    color: #444444;
}
#header_left_nav li{
    float: left;
}
#header_left_nav li:nth-child(2){
    margin-top: 21px;
}
#header_left_nav li:last-child{
    margin-top: 19px;
}


#header_right_nav{
    float: right;
    font-size: 9pt;
    font-weight: bold;
    color: #444444;
    margin-top: 18px;
}
#logo img{   
    margin-top: 20px;
    text-align: center;
}
#header_main_nav ul{
    width: 940px;
    height: 60px;
    margin-top: 10px;
    text-align: center;
    
}
#header_main_nav li{
    float: left;
    padding-top: 15px;
    width: 156px;   
    height: 60px;
    font-size: 8pt;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
.hover_header_main_nav {
    background-color: #ba000c;
}


hr{
    width: 100%;
    height: 2px;
    border: none;
    background-color: #ba000c;
}

#gnb_layer{
    z-index: 9;
    position: relative;
    width: 100%;
    height: 279px;
    background-color: #4f4c4b;
    opacity: 0;
}
#gnb_inner {
    overflow: hidden;
}
#gnb_inner ul{
    float: left;
    margin-top: 7px;
    color: #808080;
    font-size: 10pt;
    text-align: center;
    width: 156px;
}
#gnb_inner li{
    display: block;
    position: relative;
    z-index: 10;
    line-height: 19px;
    margin: 8px auto;
} 

/* main css */
main{
    padding-bottom: 100px;
}
#image_slider{
    position: relative;
    z-index: 0;
    width: 100%;
    margin-top: 5px;
}
#main_top{
    margin-top: 30px;
}
#main_top article{
    display: inline-block;
    font-size: 9pt;
}
.margin19px{
    margin-left: 19px;
}

#main_top article:first-child, #main_top article:last-child{
    /* width: 240px; */
    padding-top: 30px;
    background-color: #faf9f7;
}
#main_top article:nth-child(2){
    width: 460px;
    margin-left: 3px;
}
/* #main_top article:nth-child(2) .product_img > img{
    width: 86px;
} */
#main_top article:nth-child(2) ul{
    text-align: center;
    padding-top: 30px;
}
#main_top article:nth-child(2) li{
    display: inline-block;
}
#main_top article:nth-child(2) li:nth-child(2), #main_top article:nth-child(2) li:last-child{
    border-left: dotted #555555;
}




#main_middle{
    margin-top: 40px;
}
#main_middle_left{
    float: left;
}
#main_middle_right{
    float: right;
}

#main_bottom{
    margin-top: 50px;
}
#main_bottom article{
    float: left;
    width: 235px;
    padding-right: 0px;
}

#main_bottom li{
    list-style-type: none;
    font-size: 9pt;
    color: #555555;
    margin: 7px auto;
}

#main_bottom article:last-child div{
    width: 70px;
    height: 100px;
    text-align: center;
    display: inline-block;
}


#main_live{
    border-top: solid 2px #b5121b;
    padding-top: 40px;
    margin-top: 50px;
}
#main_live article{
    text-align: center;
    line-height: 125px;
}


/* footer css */
footer{
    width: 100%;
    height: 148px;
    background-color: #ba000c;
}
#footer_left {
    float: left;
    color: cornsilk;
    font-size: 9pt;
    margin-top: 35px;
}
#footer_left li{
    display: inline;

}
#footer_left p{
    font-size: 8pt;
}